name: Rust Release

on:
  push:
    tags:
      - 'v*'

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]
    outputs:
      bin-name: ${{ steps.artifact-name.outputs.name }}
    defaults:
      run:
        shell: bash

    steps:
    - uses: actions/checkout@v3

    - name: Run check and clippy
      run: |
        cargo check
        cargo clippy

    - name: Run tests
      run: cargo test --verbose

    - name: Build
      run: cargo build --release --verbose

    - name: Find binary
      id: artifact-name
      run: |
        for file in $(ls ./target/release/screamer* | sed 's|.*/||'); do
          if [[ "$file" == "screamer" | "$file" == "screamer.exe" ]]; then
            echo "name=$file" >> "$GITHUB_OUTPUT"
          fi
        done

    - name: Upload Artifacts
      if: steps.artifact-name.outputs.name
      uses: actions/upload-artifact@v3
      with:
        name: screamer
        path: ./target/release/${{ steps.artifact-name.outputs.name }}

  release:
    needs: [build]
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
    - uses: actions/checkout@v3
    - uses: actions/download-artifact@v3

    - name: Upload Build
      if: startsWith(github.ref, 'refs/tags/')
      uses: softprops/action-gh-release@v1
      with:
        files: screamer/*
        fail_on_unmatched_files: true
        body: 'Release time!'
